boto3==1.4.0
botocore==1.4.49
click==6.6
docutils==0.12
Flask==0.11.1
itsdangerous==0.24
Jinja2==2.8
jmespath==0.9.0
MarkupSafe==0.23
numpy==1.11.1
protobuf==3.0.0b2
pycrypto==2.6.1
python-dateutil==2.5.3
s3transfer==0.1.2
six==1.10.0
tensorflow==0.10.0
Werkzeug==0.11.11
